body {
    background-color: #e6e6fa;
    font-family: "Fauna One", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#site h1, #site h2 {
    font-family: "Sniglet", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2rem;
}

a {
    color: rebeccapurple;
    text-decoration: underline;
    text-underline-position: under;
    background-color: rgba(102, 51, 153, 0.1);
}

.collection a.collection-item {
    text-decoration: none;
    color: rebeccapurple;
}

#site #space {
    background: #121212 url('images/stars.gif');
    color: #ffffff;
    margin-bottom: 0;
}

#projects .btn {
    background-color: rebeccapurple;
    color: #fff;
}

#site .container {
    background: #ffffff;
}

#site .padding {
    padding: 20px;
}

#archived-warning {
    background-color: #cfcfcf;
}

.responsive-img {
    max-height: 300px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    #site .container {
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    #site #space {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        overflow: hidden;
    }
}