body {
    background-color: #8da1ad;
    /*background-image: url("https://media.giphy.com/media/l1J9P5TmoYeipNvOw/giphy.gif");*/
    font-family: "Fauna One", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.box {
    width: 70%;
    margin: 30px auto;

    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    padding: 20px;
}

a {
    color: #41c3ff;
}

h1 {
    font-family: "Sniglet", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#space {
    background: #121212 url('https://media.giphy.com/media/NzSUEgbTWB7TW/giphy.gif');
    color: #ffffff;
}