{{ define "aside-hcard" }}

<aside>
    <div class="container h-card" id="me">
        <div class="row">
            <div class="col m4 xl3 padding center-align">
                <picture>
                    <img src="/images/avatar.jpg" alt="Photo of Gerben Jacobs" class="u-photo">
                </picture>
            </div>
            <div class="col m8 xl9 padding">
                <h2>Hi, my name is <b class="p-name">Gerben&nbsp;Jacobs</b></h2>
                <p class="p-note">
                    A <span class="p-job-title">software engineer</span> from 
                    <span class="p-locality">Ede</span>, <span class="p-country-name">the Netherlands</span>
                </p>
                <p>
                    Welcome to <a href="https://gerben.dev" class="u-url">https://gerben.dev</a>,
                    my little nook on the internet
                </p>
                <a class="u-featured" href="/images/opengraph.png" hidden></a>
            </div>
        </div>
    </div>
</aside>

{{ end }}