{{ define "aside-hcard" }}

<aside>
    <div class="container h-card" id="me">
        <div class="row">
            <div class="col m4 xl3 padding center-align">
                <picture>
                    <img src="/images/avatar.jpg" alt="Photo of Gerben Jacobs" class="u-photo" loading="lazy">
                </picture>
            </div>
            <div class="col m8 xl9 padding">
                <img src="/images/goth_girl_by_loish.jpg" class="u-featured right"
                    alt="Hand-drawn image of a lady with a white/grey-ish bobcut, septum piercing and black lipstick, to a backdrop of roses and other flowers."
                    title="Image by Loish (Lois van Baarle)" loading="lazy">
                <h2>Hi, my name is <b class="p-name">Gerben&nbsp;Jacobs<span hidden="hidden"> 🌱</span></b></h2>
                <p class="p-note">
                    A <span class="p-job-title">software engineer</span> from
                    <span class="p-locality">Ede</span>, <span class="p-country-name">the Netherlands</span>.
                    <br>
                    <br>🙋‍♂️ <a class="p-category" href="/tags/developer">#Developer</a> <a class="p-category" href="/tags/vegan">#Vegan</a> <a class="p-category" href="/tags/straightedge">#StraightEdge</a> <a class="p-category" href="/tags/bisexual">#Bisexual</a> <a class="p-category" href="/tags/introvert">#Introvert</a> 
                    <br>❤️ <a class="p-category" href="/tags/nature">#Nature</a> <a class="p-category" href="/tags/hiking">#Hiking</a> <a class="p-category" href="/tags/parenting">#Parenting</a> <a class="p-category" href="/tags/gamedev">#Gamedev</a> <a class="p-category" href="/tags/pbbg"><abbr title="Persistent Browser Based Games">#PBBG</abbr></a>
                    <br>🎼 <a class="p-category" href="/tags/melodichardcore">#MelodicHardcore</a> <a class="p-category" href="/tags/posthardcore">#PostHardcore</a> <a class="p-category" href="/tags/hardcore">#Hardcore</a> <a class="p-category" href="/tags/deathcore">#DeathCore</a>
                    <br>📢 <a class="p-category" href="/tags/prochoice">#ProChoice</a> <a class="p-category" href="/tags/freepalestine">#FreePalestine</a> <a class="p-category" href="/tags/antifa">#Antifa</a> <a class="p-category" href="/tags/lgtbqia">#LGBTQIA</a>
                </p>
                <p>
                    Welcome to <a href="https://gerben.dev" class="u-url">https://gerben.dev</a>,
                    my little nook on the internet
                </p>
            </div>
        </div>
    </div>
</aside>

{{ end }}