body {
    background-color: #79747c;
    background-image: url("/images/prism.png");
    font-family: "Atkinson Hyperlegible", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
}

#site h1,
#site h2 {
    font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2rem;
    margin: 0;
}

a {
    color: rebeccapurple;
    text-decoration: underline;
    text-underline-position: under;
    background-color: rgba(102, 51, 153, 0.1);
}

.nav-wrapper a {
    background-color: initial;
}

.nav-wrapper {
    background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
}

.collection {
    width: 100%;
}

.collection a.collection-item {
    text-decoration: none;
    color: rebeccapurple;
}

nav ul a,
.sidenav li>a {
    font-size: 1.2rem;
}

#site #space {
    background: #121212 url('/images/stars.gif');
    color: #ffffff;
    margin-bottom: 0;
}

#site .container {
    background: #b5b3b8;
}

#intro .padding {
    padding: 1em !important;
}

#site .padding {
    padding: 1.5em;
}

#archived-warning {
    color: darkblue;
    font-weight: bolder;
    background-image: linear-gradient(65.9deg, rgba(85, 228, 224, 1) 5.5%, rgba(75, 68, 224, 0.74) 54.2%, rgba(64, 198, 238, 1) 55.2%, rgba(177, 36, 224, 1) 98.4%);
}

#me {
    border: 10px solid rebeccapurple;
    background-color: #423e44 !important;
    color: #fefefe;
}

#me a {
    color: #ccc;
}

#me img {
    width: 8em;
    border-radius: 4em;
}

#projects .responsive-img,
#repositories .responsive-img,
#archived .responsive-img {
    max-height: 300px;
    margin: 0 auto;
}

code {
    color: #c81576;
    background-color: rgba(102, 51, 153, 0.1);
}

.photogrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(310px, auto));
}

.kindy img,
iframe,
.photogrid img {
    max-width: 100%;
}

.kindy a {
    word-break: break-word;
}

.kindy-divider {
    text-align: center;
    font-weight: bolder;
    background: linear-gradient(to left, #cc2b5e 25%, #753a88 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    clear: both;
}

#timeline-header {
    background: 50% 17% url("/kd/photos/DJI_20241130153356_0059_D_1280.JPG") !important;
}

#timeline-header-content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
}

.timeline-author {
    max-width: 32px !important;
    border-radius: 50%;
    vertical-align: bottom;
}

.collected {
    position: relative;
    width: 100%;
    height: 960px;
    background: url("/kd/photos/PXL_20240911_124800628.jpg") no-repeat center center;
    overflow: auto;
}

.home-photo {
    position: relative;
    float: left;
    margin: 0.4em;
    width: 270px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
}
/* First anchor in .home-photo */
.home-photo a {
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.2em;
    color: #000;
}

@media (min-width: 800px) {
    .read-heavy {
        display: block;
        margin: auto;
        width: clamp(320px, 80%, 800px);
    }
}

@media (min-width: 600px) {
    #site .container {
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.59), 0 6px 6px rgba(0, 0, 0, 0.63);
        border-radius: 1em;
    }

    #site #space {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        overflow: hidden;
    }

    /* hack to make .collection full width */
    .row .col {
        float: none;
    }

    #archived-warning p {
        margin: 0;
    }

    #repositories .row:after,
    #projects:after {
        content: "";
        display: block;
        height: 2em;
        background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
    }

    #site .padding {
        padding: 1em;
    }

    #timeline-header-content {
        border-radius: 0;
    }

    .collected * {
        position: relative !important;
        top: inherit !important;
        left: inherit !important;
        right: inherit !important;
    }

    .home-photo {
        width: 100%;
        height: 225px;
    }
}

/* From uiverse.io */
.showcase {
    display: inline-block;
    padding: 1.3em 3em;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    color: #fff;
    background-color: rebeccapurple;
    border: none;
    border-radius: 1em;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.showcase:hover {
    background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
    box-shadow: 0 15px 20px rgba(254, 122, 152, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.showcase:active {
    transform: translateY(-1px);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

label {
    color: #333;
}