{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col padding">
            <h1>Sitemap</h1>
            <p>
                This sitemap is manually generated. An XML version will be here soon..
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m6 padding">
            <h2>Navbar pages</h2>
            <p>
                These pages are also available in the navigation bar.
            </p>
            <ul>
                {{ template "navbar" . }}
            </ul>

            <h2>Single pages</h2>
            <p>
                These pages are standalone endpoints, and are not necessarily listed.
            </p>
            <ul>
                <li><a href="/joke">Joke</a> - A first attempt at creating a microformats post</li>
            </ul>

            <h2>Text files</h2>
            <ul>
                <li><a href="/robots.txt">robots.txt</a> - Should probably put something in it..</li>
                <li><a href="/humans.txt">humans.txt</a> - As opposed to 🤖, this is about 👨‍💻</li>
            </ul>
        </div>
        <div class="col m6 padding">
            <p>
                I'm adding these manually for now.
            </p>
            <h2>Posts</h2>
            <ul>
                <li>
                    Nov 28th, 2024
                    <a href="/posts/20241128-bringing-the-indieweb">Bringing the indieweb</a>
                </li>
            </ul>
            <h2>Photos</h2>
            <ul>
                <li>
                    Nov 30th, 2024
                    <a href="/photos/42f8bb87b0e070169ecab2b3371c246e">Drone photo taken at Wekeromse Zand</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{{ end}}