<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>gerben.dev</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2961761-29"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main-2024-11-24.css">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/1000">

    <meta name="description"
        content="Welcome to my project-based website. These are some of the projects, tools and libraries I have worked on.">


    <meta property="og:url" content="https://gerben.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="gerben.dev">
    <meta property="og:description"
        content="Welcome to my project-based website. These are some of the projects, tools and libraries I have worked on.">
    <meta property="og:image" content="https://gerben.dev/images/opengraph.png">


    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="gerben.dev">
    <meta property="twitter:url" content="https://gerben.dev/">
    <meta name="twitter:title" content="gerben.dev">
    <meta name="twitter:description"
        content="Welcome to my project-based website. These are some of the projects, tools and libraries I have worked on.">
    <meta name="twitter:image" content="https://gerben.dev/images/opengraph.png">

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-2961761-29');
    </script>
</head>

<body id="site">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="/images/favicon.png" alt="Return home" height="64"></a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="hide-on-small-only" style="margin-left: 64px;">
                {{ template "navbar" . }}
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        {{ template "navbar" . }}
    </ul>

    <main>
        {{ template "content" . }}
    </main>

    {{ template "aside-hcard" . }}
    
    <footer>
        <div class="container" id="space">
            <p class="center-align padding">
                It's dangerous out there, please take some space dust!
            </p>
        </div>
    </footer>

    <button class="btn-floating btn-large waves-effect waves-light purple" id="btn-back-to-top">☝️</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit(document.body);

        let upButton;
        document.addEventListener("DOMContentLoaded", function () {
            upButton = document.getElementById("btn-back-to-top");
            upButton.addEventListener("click", backToTop);
        });
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 400 ||
                document.documentElement.scrollTop > 400
            ) {
                upButton.style.display = "block";
            } else {
                upButton.style.display = "none";
            }
        }

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>