{{- $title := print .Metadata.Title " | gerben.dev" -}}
{{- if eq .Metadata.Title "" }}{{ $title = "gerben.dev" }}{{ end -}}

{{- $description := print "Welcome to my project-based website. These are some of the projects, tools and libraries I have worked on." -}}
{{- if .Metadata.Description }}{{ $description = .Metadata.Description }}{{ end -}}

{{- $image := print "https://gerben.dev/images/opengraph.png" -}}
{{- if .Metadata.Image }}{{ $image = .Metadata.Image }}{{ end -}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ $title }}</title>

    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-2961761-29"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main-2024-11-30.css">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel=webmention href=https://webmention.io/gerben.dev/webmention>

    <meta name="description" content="{{ $description }}">

    <meta property="og:url" content="https://gerben.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description}}">
    <meta property="og:image" content="{{ $image }}">

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-2961761-29');
    </script>
</head>

<body id="site">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="/images/favicon.png" alt="Return home" height="64"></a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down" style="margin-left: 64px;">
                {{ template "navbar" . }}
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        {{ template "navbar" . }}
    </ul>

    <main>
        {{ template "content" . }}
    </main>

    {{ template "aside-hcard" . }}

    <footer>
        <div class="container" id="space">
            <p class="center-align padding">
                It's dangerous out there, please take some space dust!
            </p>
        </div>
    </footer>

    <button class="btn-floating btn-large waves-effect waves-light purple" id="btn-back-to-top">☝️</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit(document.body);

        let upButton;
        document.addEventListener("DOMContentLoaded", function () {
            upButton = document.getElementById("btn-back-to-top");
            upButton.addEventListener("click", backToTop);
        });
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 400 ||
                document.documentElement.scrollTop > 400
            ) {
                upButton.style.display = "block";
            } else {
                upButton.style.display = "none";
            }
        }

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>