{{- $title := print .Metadata.Title " | gerben.dev" -}}
{{- if eq .Metadata.Title "" }}{{ $title = "gerben.dev" }}{{ end -}}

{{- $description := print "Welcome to my personal website on the #IndieWeb!" -}}
{{- if .Metadata.Description }}{{ $description = .Metadata.Description }}{{ end -}}

{{- $permalink := print "https://gerben.dev" .Metadata.Permalink -}}
{{- if eq .Metadata.Permalink "" }}{{ $permalink = "https://gerben.dev" }}{{ end -}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>{{ $title }}</title>

    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="apple-touch-icon" sizes="160x160" href="/images/favicon.png">


    <link rel="stylesheet" href="/css/pico/indigo.css">
    <link rel="stylesheet" href="/css/v2-2025-12-26.css">
    <link rel="preload" href="/css/ytlite.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/ytlite.css">
    </noscript>

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="webmention" href="https://webmention.io/gerben.dev/webmention">
    <meta name="fediverse:creator" content="@gerben.dev@gerben.dev">

    <link rel="alternate" type="application/rss+xml" title="@gerben.dev timeline"
        href="https://gerben.dev/timeline.xml">
    <link rel="alternate" type="application/rss+xml" title="gerben.dev posts" href="https://gerben.dev/feed.xml">
    <link rel="alternate" type="application/rss+xml" title="gerben.dev photos" href="https://gerben.dev/photos.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="https://gerben.dev/sitemap.xml">
    {{ if $permalink -}}
    <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/{{ $permalink }}">{{ end }}

    <meta name="description" content="{{ $description }}">
    {{ if $permalink -}}
    <link rel="canonical" href="{{ $permalink }}">{{ end }}

    <meta property="og:url" content="{{ $permalink }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description}}">
    {{ if .Metadata.Image }}
    <meta property="og:image" content="{{ .Metadata.SafeImage }}">{{ end }}
    {{- if .Metadata.Kindy }}
    {{ if ne .Metadata.Env "dev"}}
    <link rel="preload" as="fetch" href="https://octothorp.es/?uri={{ $permalink }}">{{ end }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Metadata.Kindy.PublishedAt.Format "2006-01-02T15:04:05-07:00" }}">
    {{- range .Metadata.Kindy.Tags }}
    <meta property="article:tag" content="{{ . }}">
    <link rel="octo:octothorpes" href="{{ . }}">
    {{- end }}
    {{- else }}
    <meta property="og:type" content="website">
    {{- end }}

    {{ if ne .Metadata.Env "dev"}}
    <!-- <script src="https://mochi.meadow.cafe/reaper/gerben/embed/1.js" async></script> -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-2961761-29"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-2961761-29');
    </script>
    {{ end }}
    <script defer src="/js/ytlite.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700"
        rel="stylesheet">
</head>

<body>
    <header class="container">
        <img src="/images/favicon.png" alt="" height="64">
        <a href="/">
            <h1>gerben.dev</h1>
        </a>
        <nav class="overflow-auto">
            <ul class="mobile">
                {{- template "navbar" . -}}
            </ul>
        </nav>
    </header>
    <main class="container">
        {{ template "content" . }}
        {{ if .Metadata.SourceLink }}
        <p class="center">
            <a href="{{ .Metadata.SourceLink }}" role="button">View source</a>
        </p>
        {{ end }}
    </main>
    {{ template "aside-hcard" . }}
    <section class="container" id="space">
        ✨ It's dangerous out there, please take some space dust! ✨
    </section>
    <section class="container center">
        This work is licensed under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
        |
        🤖 No AI
        |
        📊 <a href="https://stats.uptimerobot.com/JgMdUvqfrA/801708697">Uptime Status</a>

        <button id="btn-back-to-top">☝️</button>
    </section>
    <script>
        let upButton = document.getElementById("btn-back-to-top");
        document.addEventListener("DOMContentLoaded", function () {
            upButton.addEventListener("click", backToTop);
        });
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 400 ||
                document.documentElement.scrollTop > 400
            ) {
                upButton.style.display = "block";
            } else {
                upButton.style.display = "none";
            }
        }

        function backToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>
</body>

</html>