{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col padding">
            <h1>Changelog</h1>
            <details open>
                <summary><b>April 2025</b></summary>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><time datetime="2025-04-21">Apr 21st, 2025</time></td>
                            <td>Created a proper <a href="/">index page</a>, moved original page to <a href="/projects">/projects</a></td>
                        </tr>
                        </tbody>
                        </table>
            </details>
            <details>
                <summary><b>December 2024</b></summary>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><time datetime="2024-12-31">Dec 31th, 2024</time></td>
                            <td>Added filtering options to <a href="/timeline">/timeline</a></td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-29">Dec 29th, 2024</time></td>
                            <td>Added pagination to Photos, with infinite scroll</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-24">Dec 24th, 2024</time></td>
                            <td>Changed Timeline to show only week's worth of content, added infinite scroll with HTMX. Timeline XML truncated to 3 months.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-22">Dec 22th, 2024</time></td>
                            <td>Added Sitemap XML: <a
                                    href="https://gerben.dev/sitemap.xml">https://gerben.dev/sitemap.xml</a></td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-18">Dec 18th, 2024</time></td>
                            <td>Added RSS XML feed for Timeline: <a
                                    href="https://gerben.dev/timeline.xml">https://gerben.dev/timeline.xml</a></td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-15">Dec 15th, 2024</time></td>
                            <td>Added opengraph fetcher for reposts, likes and replies in <a
                                    href="/timeline">/timeline</a>
                                and their respective pages.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-14">Dec 14th, 2024</time></td>
                            <td>Added Markdown support to Kindy Editor, fixed Open Graph data</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-13">Dec 13th, 2024</time></td>
                            <td>Added caching for most (Kindy) pages; posts, photos, timeline, sitemap</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-09">Dec 9th, 2024</time></td>
                            <td>Added <a href="/timeline">/timeline</a> to create this site's 'social media' page.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-08">Dec 8th, 2024</time></td>
                            <td>Updated <a href="/tags/indieweb">/tags (#indieweb)</a> to show content snippets
                                (summary, description or <a href="/tags/belmonte">thumbnail</a>)</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-07">Dec 7th, 2024</time></td>
                            <td>Imported Flickr to my <a href="/photos">/photos</a> page.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-06">Dec 6th, 2024</time></td>
                            <td>Updated <a href="/tags/indieweb">/tags</a> pages to have links to content, only URLs so
                                far..</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-05">Dec 5th, 2024</time></td>
                            <td>Added <a href="/listening">/listening</a> with my Last.fm RSS feed.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-05">Dec 5th, 2024</time></td>
                            <td>Created <code>thumbnailer</code> script to make 300px thumbnails, applied to /photos.
                            </td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-04">Dec 4th, 2024</time></td>
                            <td>Added <a href="/photos">/photos</a> page, imported my Instagram archive.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-03">Dec 3rd, 2024</time></td>
                            <td>Added <a href="/posts">/posts</a> page, still <abbr title="Work In Progress">WIP</abbr>.
                            </td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-01">Dec 1st, 2024</time></td>
                            <td>Allow for dynamic title and descriptions (and og:image for Photos)</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-12-01">Dec 1st, 2024</time></td>
                            <td>Updated <a href="/sitemap">/sitemap</a> to show Posts, Photos and Notes.</td>
                        </tr>
                    </tbody>
                </table>
            </details>
            <details>
                <summary><b>November 2024</b></summary>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><time datetime="2024-11-28">Nov 28th, 2024</time></td>
                            <td>Added <a
                                    href="/posts/20241128-bringing-the-indieweb">/posts/20241128-bringing-the-indieweb</a>
                            </td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-11-27">Nov 27th, 2024</time></td>
                            <td>Changed font to <a href="https://www.brailleinstitute.org/freefont/">Atkinson
                                    Hyperlegible</a>.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-11-26">Nov 26th, 2024</time></td>
                            <td>Added <a href="/sitemap">/sitemap</a>, added a navbar.</td>
                        </tr>
                        <tr>
                            <td><time datetime="2024-11-25">Nov 25th, 2024</time></td>
                            <td>Added <a href="/changelog">/changelog</a>.</td>
                        </tr>
                    </tbody>
                </table>
            </details>
        </div>
    </div>
</div>

{{ end }}