{{ define "content" }}
<style>
    #site .kindy h1 {
        margin-bottom: 1em;
    }
    .dt-published::before {
        content: "🕰️";
    }
    .kindy-syndication::before {
        content: "📢";
    }
    .kindy-like::before {
        content: "⭐";
    }
    .h-geo::before {
        content: "🗺️";
    }
    .kindy-header img {
        vertical-align: middle;
        width: 32px;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    .kindy-type-post .p-summary {
        font-style: italic;
    }
    .e-content {
        margin-top: 1em;
    }
    .p-summary > .u-photo,
    .e-content > .u-photo,
    .kindy-type-photo figure > .u-photo {
        width: 100%;
    }
    .kindy-type-photo figure > .u-photo {
        filter: drop-shadow(5px 5px 10px #666);
    }
    figure {
        /* reset */
        margin: 2rem 0; 
    }
    figcaption {
        font-size: 150%;
    }
    @media (min-width: 800px) {
        .kindy-type-post {
            display: block;
            margin: auto;
            width: clamp(320px, 80%, 800px);
            text-align: justify;
        }
        figure {
            margin: 2rem;
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="col padding">
            <article class="kindy kindy-type-{{ .Type }} {{ .MFType }}">
                <header>
                    {{ if .Title -}}
                    <h1 class="p-name">{{ .Title }}</h1>
                    {{- end }}
                    <div class="kindy-header">
                        {{ if .Author -}}
                        <span class="h-card p-author">
                            {{ if .Author.Photo -}}
                            <img class="u-photo" src="{{ .Author.Photo }}" alt="Photo of {{ .Author.Name }}" loading="lazy">
                            {{ end -}}
                            <a class="u-url p-name" href="{{ .Author.URL }}" rel="me author">{{ .Author.Name }}</a>
                        </span>
                        {{- end }}
                        <time class="dt-published" datetime="{{ .PublishedAt.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ if .Permalink -}}
                            <a href="{{ .Permalink }}" class="u-url" title="{{ .PublishedAt.Format "2006-01-02T15:04:05Z07:00" }}">
                                {{ .PublishedAt.Format "Jan 02, 2006" }}
                            </a>
                            {{- else -}}
                                {{ .PublishedAt.Format "Jan 02, 2006" }}
                            {{- end }}
                        </time>
                        {{ if .Geo -}}
                        <span class="h-geo">
                            <a href="https://www.openstreetmap.org/search?query={{ .Geo.Latitude }},{{ .Geo.Longitude }}">
                                <span class="p-latitude">{{ .Geo.Latitude }}</span>,
                                <span class="p-longitude">{{ .Geo.Longitude }}</span>
                            </a>
                        </span>
                        {{- end }}
                        {{ if .Syndication -}}
                            {{- range $syn := .Syndication -}}
                            <span class="kindy-syndication {{ $syn.Type }}">
                                <a class="u-syndication" href="{{ $syn.URL}}" title="Also posted on {{ $syn.Type }}">{{ $syn.Type }}</a>
                            </span>
                            {{- end -}}
                        {{- end }}
                    </div>
                </header>
                {{ if .LikeOf }}
                <span class="kindy-like">
                    <a class="u-like-of" href="{{ .LikeOf }}">{{ .LikeOf }}</a>
                </span>
                {{ end }}
                {{ if eq .Type "photo" }}
                    <figure>
                        <img class="u-photo" src="{{ .Content }}" alt="{{ .Summary }}">
                        <figcaption>{{ .Summary }}</figcaption>
                    </figure>
                {{ else }}
                    {{ if .Summary -}}
                    <p class="p-summary">
                        {{ .Summary }}
                    </p>
                    {{- end }}
                    {{ if .Content -}}
                    <div class="e-content">
                        {{ .Content }}
                    </div>
                    {{- end }}
                {{ end }}
                <a class="u-bridgy-fed" href="https://fed.brid.gy" hidden="hidden"></a>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <link rel="stylesheet" href="https://blog.gerbenjacobs.nl/css/webmention.css">
            <div id="webmentions"></div>
            <script src="https://blog.gerbenjacobs.nl/js/webmention.js" data-page-url="{{ .Permalink }}"></script>
        </div>
    </div>
</div>

{{ end}}