{{ define "content" }}
<style>
    #site .kindy h1 {
        margin-bottom: 1em;
    }
    .kindy .dt-published::before {
        content: "🕰️";
    }
    .kindy-syndication::before {
        content: "📢";
    }
    .kindy-syndication.fediverse::before {
       content: "🕸️";
    }
    .kindy-syndication.flickr::before {
       content: "🖼️";
    }
    .kindy-syndication.pixelfed::before {
       content: "🌄";
    }
    .kindy-like::before {
        content: "⭐";
    }
    .kindy-repost::before {
        content: "🔁";
    }
    .h-geo::before {
        content: "🗺️";
    }
    .kindy .p-category::before {
        content: "#";
    }
    .kindy-header img {
        vertical-align: middle;
        width: 32px;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    .kindy-type-post .p-summary {
        font-style: italic;
    }
    .kindy .e-content {
        margin-top: 1em;
    }
    .kindy .p-summary > .u-photo,
    .kindy .e-content > .u-photo,
    .kindy-type-photo figure > .u-photo {
        max-width: 100%;
    }
    .kindy-type-photo figure > .u-photo {
        filter: drop-shadow(5px 5px 10px #666);
    }
    .kindy figure {
        /* reset */
        margin: 2rem 0; 
    }
    @media (min-width: 800px) {
        .kindy-type-post {
            display: block;
            margin: auto;
            width: clamp(320px, 80%, 800px);
            text-align: justify;
        }
        .kindy figure {
            margin: 2rem;
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="padding">
            <article class="kindy kindy-type-{{ .Type }} {{ .MFType }}">
                <header>
                    {{- if .Title -}}
                    <h1 class="p-name">{{ .Title }}</h1>
                    {{- end }}
                    <div class="kindy-header">
                        {{ if .Author -}}
                        <span class="h-card p-author">
                            {{ if .Author.Photo -}}
                            <img class="u-photo" src="{{ .Author.Photo }}" alt="Photo of {{ .Author.Name }}" loading="lazy">
                            {{ end -}}
                            <a class="u-url p-name" href="{{ .Author.URL }}" rel="me author">{{ .Author.Name }}</a>
                        </span>
                        {{- end }}
                        <time class="dt-published" datetime="{{ .PublishedAt.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ if .Permalink -}}
                            <a href="{{ .Permalink }}" class="u-url" title="{{ .PublishedAt.Format "2006-01-02T15:04:05Z07:00" }}">
                                {{ .PublishedAt.Format "Jan 02, 2006" }}
                            </a>
                            {{- else -}}
                                {{ .PublishedAt.Format "Jan 02, 2006" }}
                            {{- end }}
                        </time>
                        {{ if .Geo -}}
                        <span class="p-location h-geo">
                            <a href="https://www.openstreetmap.org/#map=15/{{ .Geo.Latitude }}/{{ .Geo.Longitude }}">
                                <span class="p-latitude">{{ .Geo.Latitude }}</span>,
                                <span class="p-longitude">{{ .Geo.Longitude }}</span>
                            </a>
                        </span>
                        {{- end }}
                        {{ if .Syndication -}}
                            {{- range $syn := .Syndication -}}
                            <span class="kindy-syndication {{ $syn.Type }}">
                                <a class="u-syndication" href="{{ $syn.URL}}" title="Also posted on {{ $syn.Type }}">{{ $syn.Type }}</a>
                            </span>
                            {{- end -}}
                        {{- end }}
                    </div>
                </header>
                {{ if eq .Type "photo" }}
                    {{ if hasSuffix .Content ".mp4" }}
                    <div class="e-content">
                        <video class="responsive-video" autoplay loop muted controls>
                            <source class="u-video" src="{{.Content}}" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                        {{ if .Summary }}<p>{{ .Summary }}</p>{{- end }}
                        <small style="display: none;">(Posted on <a href="{{ .Permalink }}">gerben.dev</a>)</small>
                    </div>
                    {{ else }}
                    <figure class="e-content">
                        <img class="u-photo" src="{{ .Content }}" alt="{{ .MustTitle }}">
                       {{ if .Summary -}}<figcaption>{{ .Summary }}</figcaption>{{- end }}
                        <small hidden="hidden">(Posted on <a href="{{ .Permalink }}">gerben.dev</a>)</small>
                    </figure>
                    {{ end }}
                {{ else }}
                    {{ if .Summary -}}
                    <p class="p-summary">
                        {{ .Summary }}
                        {{ if .LikeOf }}
                            <span class="kindy-like">
                                <a class="u-like-of" href="{{ .LikeOf }}">{{ .LikeOf }}</a>
                            </span>
                        {{ end }}
                        {{ if .RepostOf }}
                            <span class="kindy-repost">
                                <a class="u-repost-of" href="{{ .RepostOf }}">{{ .RepostOf }}</a>
                            </span>
                        {{ end }}
                    </p>
                    {{- end }}
                    {{ if .Content -}}
                    <div class="e-content">
                        {{ .Content }}
                        <!-- <small hidden="hidden">(Posted on <a href="{{ .Permalink }}">gerben.dev</a>)</small> -->
                    </div>
                    {{- end }}
                {{ end }}
                {{ if .Tags -}}
                <footer>
                    {{ range .Tags -}}
                        <a class="p-category" href="/tags/{{.}}">{{.}}</a>
                    {{ end -}}
                </footer>
                {{- end }}
                <a class="u-bridgy-fed" href="https://fed.brid.gy" hidden="hidden"></a>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <link rel="stylesheet" href="https://blog.gerbenjacobs.nl/css/webmention.css">
            <div id="webmentions"></div>
            <script src="https://blog.gerbenjacobs.nl/js/webmention.js" data-page-url="https://gerben.dev{{ .Permalink }}"></script>
        </div>
    </div>
</div>

{{ end}}