{{ define "content" }}
<style>
    .loader {
        display: inline-block;
        animation: hithere 1s ease infinite;
    }

    @keyframes hithere {
        30% {
            transform: scale(1.2);
        }

        40%,
        60% {
            transform: rotate(-20deg) scale(1.2);
        }

        50% {
            transform: rotate(20deg) scale(1.2);
        }

        70% {
            transform: rotate(0deg) scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    .bounce2 {
        display: inline-block;
        animation: bounce2 2s ease infinite;
    }

    @keyframes bounce2 {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="col padding">
            <h1><span class="bounce2">🎧</span> Listening</h1>

            <p>
                Scrobbles from my <a href="https://last.fm/user/theonewithout" target="_blank">Last.fm profile</a>,
                with the help from <a href="https://lfm.xiffy.nl" target="_blank">lfm.xiffy.nl</a>.
            </p>

            {{ range .Feed.Items }}
            {{ $title := .Title }}
            {{ $lfm := index .Extensions "lfm" }}
            {{ $album := index $lfm "album" }}
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <article class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col center-align m4" style="float:left; margin-right: 2em;">
                            {{ range .Enclosures }}
                            <img src="{{ .URL }}" alt="{{ $title }}" class="circle responsive-img" loading="lazy">
                            {{ end }}
                        </div>
                        <div class="col m8">
                            <h2 class="black-text">
                                {{ .Title }}
                            </h2>
                            <p>
                                From the album
                                {{ range $album }}
                                <b>{{ .Value }}</b>
                                {{ end }}
                            </p>
                            <p>
                                <small>
                                    <a href="{{ .Link }}" target="_blank">
                                        {{ if .PublishedParsed }}
                                        <time datetime="{{ .PublishedParsed.Format " 2006-01-02T15:04:05Z07:00" }}">
                                            {{ .PublishedParsed.Format "Jan _2, 15:04 UTC" }}
                                        </time>
                                        {{ else }}
                                        Listening now <span class="loader">📻</span>
                                        {{ end }}
                                    </a>
                                </small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}