{{ define "content" }}
<style>
    .loader {
        display: inline-block;
        animation: hithere 1s ease infinite;
    }

    @keyframes hithere {
        30% {
            transform: scale(1.2);
        }

        40%,
        60% {
            transform: rotate(-20deg) scale(1.2);
        }

        50% {
            transform: rotate(20deg) scale(1.2);
        }

        70% {
            transform: rotate(0deg) scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    .bounce2 {
        display: inline-block;
        animation: bounce2 2s ease infinite;
    }

    @keyframes bounce2 {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
</style>
<section>
    <h1><span class="bounce2">🎧</span> Listening</h1>

    <p>
        Scrobbles from my <a href="https://last.fm/user/theonewithout" target="_blank">Last.fm profile</a>,
        with the help from <a href="https://lfm.xiffy.nl" target="_blank">lfm.xiffy.nl</a>.
    </p>
</section>

{{ range .Feed.Items }}
{{ $title := .Title }}
{{ $lfm := index .Extensions "lfm" }}
{{ $album := index $lfm "album" }}
<section>
    <article>
        <div style="float: left; margin-right: 2em;">
            {{ range .Enclosures }}
            <img src="{{ .URL }}" alt="{{ $title }}" loading="lazy">
            {{ end }}
        </div>
        <div>
            <h2 class="black-text">
                {{ .Title }}
            </h2>
            <p>
                From the album
                {{ range $album }}
                <b>{{ .Value }}</b>
                {{ end }}
            </p>
            <p>
                <small>
                    <a href="{{ .Link }}" target="_blank">
                        {{ if .PublishedParsed }}
                        <time datetime="{{ .PublishedParsed.Format " 2006-01-02T15:04:05Z07:00" }}">
                            {{ .PublishedParsed.Format "Jan _2, 15:04 UTC" }}
                        </time>
                        {{ else }}
                        Listening now <span class="loader">📻</span>
                        {{ end }}
                    </a>
                </small>
            </p>
        </div>
    </article>
</section>
{{ end }}

{{ end }}