{{ define "content" }}
<section>
    <header>
        <hgroup>
            <h1>{{ .Metadata.Title }}</h1>
            <p>{{ .Metadata.Description }}</p>
        </hgroup>
    </header>
</section>


<section>
    {{ if not .Entries }}
    <p>No entries found for today!</p>
    {{ else }}
    {{ template "timeline-paginated" $ }}
    {{ end}}
</section>

<script src="https://unpkg.com/htmx.org@2.0.4"></script>
{{ end }}