{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col padding">
            <h1>Sitemap</h1>
            <p>
                This sitemap is (partially) manually generated. There's also an <a href="/sitemap.xml">XML version</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col l5 padding">
            <h2>Navbar pages</h2>
            <p>
                These pages are also available in the navigation bar.
            </p>
            <ul>
                {{ template "navbar" . }}
            </ul>

            <h2>Single pages</h2>
            <p>
                These pages are standalone endpoints, and are not necessarily listed.
            </p>
            <ul>
                <li><a href="/listening">/listening</a> - This page lists what I'm currently listening to.</li>
                <li><a href="/collection">/collection</a> - Sometimes when my kids and I play, I collect things, achievements, and other stuff. This page lists them.</li>
                <li><a href="/photos/featured">/photos/featured</a> - A subset of my photos that I liked/favourited/featured.</li>
            </ul>


            <h2>Text files</h2>
            <ul>
                <li><a href="/robots.txt">/robots.txt</a> - Should probably put something in it..</li>
                <li><a href="/humans.txt">/humans.txt</a> - As opposed to 🤖, this is about 👨‍💻</li>
            </ul>

            <p class="center-align">
                <img class="responsive-img"src="/images/kurzgesagt-blue-dino.webp" width="304" height="200" loading="lazy"
                alt="An animated blue cartoon style dragon, stomping on the ground, growling and blowing steam out its nose"
                title="Blue dragon by Kurzgesagt, from Giphy">
                <br><small>This dinosaur hates 'too much' whitespace. <br>He won't clarify how much is too much..</small>
            </p>
        </div>
        <div class="col l7 padding">
            <h2>Posts ({{ index .Counts "posts" }})</h2>
            {{ if .Posts -}}
            <ul>
                {{- range .Posts }}
                <li>{{ .PublishedAt.Format "Jan 02, 2006" }} {{ .Type.Emoji }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{- end }}
            </ul>
            {{- end }}

            <h2>Photos ({{ index .Counts "photos" }})</h2>
            {{ if .Photos -}}
            <ul>
                {{- range .Photos }}
                <li>{{ .PublishedAt.Format "Jan 02, 2006" }} {{ .Type.Emoji }} <a href="{{ .Permalink }}">
                    {{ if .Title -}}
                    {{ .Title }}
                    {{- else if .Summary -}}
                    {{ printf "%.50s.." .Summary }}
                    {{- else -}}
                    Untitled
                    {{- end }}
                </a></li>
                {{- end }}
            </ul>
            {{- end }}

            <h2>Notes ({{ index .Counts "notes" }})</h2>
            {{ if .Notes -}}
            <ul>
                {{- range .Notes }}
                <li><a href="{{ .Permalink }}">{{ .PublishedAt.Format "Jan 02, 2006" }}</a> {{ .Type.Emoji }} {{ .ContentStripped 130 }}</li>
                {{- end }}
            </ul>
            {{- end }}

            <h2>Likes ({{ index .Counts "likes" }})</h2>
            {{ if .Likes -}}
            <ul>
                {{- range .Likes }}
                <li><a href="{{ .Permalink }}">{{ .PublishedAt.Format "Jan 02, 2006" }}</a>
                    {{ .Type.Emoji }} <a target="_blank" href="{{ .LikeOf }}" style="word-break: break-all;">{{ .LikeOf }}</a></li>
                {{- end }}
            </ul>
            {{- end }}

            <h2>Reposts ({{ index .Counts "reposts" }})</h2>
            {{ if .Reposts -}}
            <ul>
                {{- range .Reposts }}
                <li><a href="{{ .Permalink }}">{{ .PublishedAt.Format "Jan 02, 2006" }}</a>
                    {{ .Type.Emoji }} <a target="_blank" href="{{ .RepostOf }}" style="word-break: break-all;">{{ .RepostOf }}</a></li>
                {{- end }}
            </ul>
            {{- end }}

            <h2>Replies ({{ index .Counts "replies" }})</h2>
            {{ if .Replies -}}
            <ul>
                {{- range .Replies }}
                <li><a href="{{ .Permalink }}">{{ .PublishedAt.Format "Jan 02, 2006" }}</a> {{ .Type.Emoji }} {{ .ContentStripped 130 }}</li>
                {{- end }}
            </ul>
            {{- end }}
        </div>
    </div>
</div>

{{ end}}