{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col padding">
            <h1>Tags</h1>

            {{ if .Tags }}
            {{ $tag := index .Tags .Tag }}
            <ul>
                {{ range $type, $tags := $tag.Permalinks }}
                {{ range $tags }}
                <li>
                    {{ $type.Emoji }} <a href="{{ . }}">{{ . }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ else }}
            <p>No tags found.</p>
            {{ end }}

            <p style="font-weight: bolder; color: rebeccapurple;">─────────๑♡⁠๑─────────</p>

            <p>
                You could try searching <b>{{.Tag}}</b> on &hellip;
            </p>
            <ul>
                <li>
                    🌎 <a href="https://google.com/search?q=site:gerben.dev {{.Tag}}">
                        https://google.com/search?q=site:gerben.dev {{.Tag}}
                    </a>
                </li>
                <li>
                    🦆 <a href="https://duckduckgo.com/?q=site:gerben.dev {{.Tag}}">
                        https://duckduckgo.com/?q=site:gerben.dev {{.Tag}}
                    </a>
                </li>
                <li>
                    🌳 <a href="https://ecosia.org/search?q=site:gerben.dev {{.Tag}}">
                        https://ecosia.org/search?q=site:gerben.dev {{.Tag}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{{ end }}