server {
    server_name gerben.dev;

    root /var/www/html/gerben.dev;
    access_log /var/log/nginx/gerben.dev/access.log;
    error_log /var/log/nginx/gerben.dev/error.log;

    client_max_body_size 10m;

    # don't write access log for favicon.ico
    location = /favicon.ico {
        access_log drop;
        log_not_found off;
    }

    # deny access to all hidden files
    # except for .well-known prefix
    location ~ /\.(?!well-known).* {
        access_log denied;
        log_not_found off;
        deny all;
    }

    # pass everything else to the Go server
    # include Nginx's default proxy params
    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000;
    }

    # redirect traffic to .well-known to fed.brid.gy
    # this is used by ActivityPub to discover gerben.dev@gerben.dev
    rewrite ^/\.well-known/(host-meta|webfinger).* https://fed.brid.gy$request_uri? redirect;
}